<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cnfic.contractmanage.partner.mapper.OrderProfitMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="orderProfitResultMap" type="cn.com.cnfic.contractmanage.partner.vo.OrderProfitVO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="prod_type" property="prodType"/>
        <result column="prod_code" property="prodCode"/>
        <result column="prod_name" property="prodName"/>
        <result column="par_id" property="parId"/>
        <result column="par_name" property="parName"/>
        <result column="order_id" property="orderId"/>
        <result column="con_id" property="conId"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="profit_amount" property="profitAmount"/>
        <result column="profit_rate" property="profitRate"/>
        <result column="profit_time" property="profitTime"/>
        <result column="profit_type" property="profitType"/>

        <result column="conCode" property="conCode"/>
        <result column="conName" property="conName"/>
        <result column="customerName" property="customerName"/>
        <result column="orderCode" property="orderCode"/>
    </resultMap>


    <!-- 分润明细查询 -->
    <select id="selectOrderProfitPage" resultMap="orderProfitResultMap">
        select a.*,c.order_no as orderCode,b.con_no as conCode,b.con_name as conName,b.cust_name as customerName  from con_order_profit as a
        left join (select b1.id,b1.con_no,b1.con_name,b2.cust_name from con_contract as b1 left join sub_org_customer b2 on b1.cust_id=b2.id) as b on a.con_id=b.id
        left join con_user_order as c on a.order_id=c.id
        where a.is_deleted = 0
           AND a.par_id = #{orderProfit.parId}
        <if test="orderProfit.profitType ==1">
            AND a.con_id > ''
        </if>
        <if test="orderProfit.profitType ==2">
            AND a.order_id >''
        </if>
        <if test="orderProfit.startProfitTime != null">
            AND a.profit_time <![CDATA[ >= ]]> #{orderProfit.startProfitTime}
        </if>
        <if test="orderProfit.endProfitTime != null">
            AND a.profit_time <![CDATA[ <= ]]> #{orderProfit.endProfitTime}
        </if>
        <if test="orderProfit.prodCode != null and orderProfit.prodCode != ''">
            AND a.prod_code = #{orderProfit.prodCode}
        </if>
        <if test="orderProfit.prodName != null and orderProfit.prodCode != ''">
            AND a.prod_name =#{orderProfit.prodName}
        </if>
    </select>

</mapper>
