<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cnfic.contractmanage.userAccount.mapper.MailProductUrlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mailProductUrlResultMap" type="cn.com.cnfic.contractmanage.userAccount.entity.MailProductUrl">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="temp_id" property="tempId"/>
        <result column="prod_code" property="prodCode"/>
        <result column="prod_name" property="prodName"/>
        <result column="prod_url" property="prodUrl"/>
    </resultMap>


    <select id="selectMailProductUrlPage" resultMap="mailProductUrlResultMap">
        select * from sys_mail_product_url where is_deleted = 0
    </select>

</mapper>
