<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cnfic.contractmanage.userAccount.mapper.MailRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mailRecordResultMap" type="cn.com.cnfic.contractmanage.userAccount.entity.MailRecord">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="account_id" property="accountId"/>
        <result column="user_name" property="userName"/>
        <result column="email" property="email"/>
        <result column="mail_subject" property="mailSubject"/>
        <result column="mail_content" property="mailContent"/>
        <result column="mail_send_email" property="mailSendEmail"/>
        <result column="mail_send_time" property="mailSendTime"/>
        <result column="mail_send_state" property="mailSendState"/>
    </resultMap>


    <select id="selectMailRecordPage" resultMap="mailRecordResultMap">
        select * from sys_mail_record where is_deleted = 0
    </select>

</mapper>
