

.el-menu--popup{
    .el-menu-item{
        background-color: #20222a;
        i{
            margin-right: 5px;
        }
        i,span{
            color:hsla(0,0%,100%,.7);
        }
        &:hover{
            i,span{
                color:#fff;
            }
        }
        &.is-active {
            background-color: rgba(0,0,0,.8);
            &:before {
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                width: 4px;
                background: #409eff;
                position: absolute;
            }
            i,span{
                color:#fff;
            }
            .circle{
                background: #fff;
            }
        }
    }
}
.menu-wrapper {
    .el-menu-item {
        display: flex;
        align-items: center;
        .circle {
            width: 5px;
            height: 5px;
            background:#aab5be;
            border-radius: 5px;
            margin-right: 15px;
        }
    }
}
.avue-sidebar {
    user-select: none; 
    position: relative;
    padding-top: 60px;
    height: 100%;
    position: relative;
    background-color: #20222a;
    transition: width .2s;
    box-sizing: border-box;
    box-shadow:0;
    &--tip{
        width:90%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        position: absolute;
        top:5px;
        left:5%;
        color:#ccc;
        z-index: 2;
        text-align: center;
        font-size: 14px;
        background-color: rgba(0,0,0,.4);
    }
    .top-bar__left{
        position: relative;
        width: 240px;
        text-align: center;
        left: 0;
        height: 35px;
        background:#ffffff;
        z-index: 1024;
        border-bottom: 1px solid #f4f4f7;
        i{  
            line-height: 35px;
            color: #31485a;
            font-size: 22px !important;
        }
        .avue-breadcrumb--active{
            transform: rotate(180deg);
        }
    }
    .el-menu-item,.el-submenu__title{
        i{
            margin-right: 5px;
        }
        i,span{
            color:hsla(0,0%,100%,.7);
            font-weight: 500;
        }
        &:hover{
            background: transparent;
            i,span{
               color:#fff;
            }
        }
        &.is-active {
            // &:before {
            //     content: '';
            //     top: 0;
            //     left: 0;
            //     bottom: 0;
            //     width: 4px;
            //     background: #409eff;
            //     position: absolute;
            // }
            background-color: #ddf0f9;
            i,span{
                color:#078ecf;
            }
            .circle{
                background: #078ecf;
              }
        }
    }
}