<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cnfic.contractmanage.product.mapper.ProductItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="productItemResultMap" type="cn.com.cnfic.contractmanage.product.entity.ProductItem">
        <id column="id" property="id"/>
        <result column="prop_code" property="propCode"/>
        <result column="prop_name" property="propName"/>
        <result column="cate_id" property="cateId"/>
        <result column="prop_dept" property="propDept"/>
        <result column="prod_id" property="prodId"/>
        <result column="pro_image" property="proImage"/>
        <result column="release_scope" property="releaseScope"/>
        <result column="item_desc" property="itemDesc"/>
        <result column="added_date" property="addedDate"/>
        <result column="expired_date" property="expiredDate"/>
        <result column="is_valuation" property="isValuation"/>
        <result column="item_sourse" property="itemSourse"/>
        <result column="partner_id" property="partnerId"/>
        <result column="partner_name" property="partnerName"/>
        <result column="share_type" property="shareType"/>
        <result column="share_result" property="shareResult"/>
        <result column="item_state" property="itemState"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    <sql id="updateState">
            item_state = #{item.itemState}
        <if test="item.addedDate != null">
            ,added_date = #{item.addedDate}
        </if>
        <if test="item.expiredDate != null">
            ,expired_date = #{item.expiredDate}
        </if>
    </sql>

    <select id="selectProductItemPage" resultMap="productItemResultMap">
        select * from pro_product_item where is_deleted = 0
    </select>
    <update id="updateByProdId" parameterType="cn.com.cnfic.contractmanage.product.entity.ProductItem">
        UPDATE pro_product_item
        SET id = #{id}
        <if test="propCode !=null and propCode !=''">
            ,prop_code = #{propCode}
        </if>
        <if test="propName !=null and propName !=''">
            ,prop_name = #{propName}
        </if>
        <if test="cateId !=null and cateId !=''">
            ,cate_id = #{cateId}
        </if>
        <if test="propDept !=null and propDept !=''">
            ,prop_dept = #{propDept}
        </if>
        <if test="prodId !=null and prodId !=''">
            ,prod_id = #{prodId}
        </if>
        <if test="proImage !=null and proImage !=''">
            ,pro_image = #{proImage}
        </if>
        <if test="releaseScope !=null and releaseScope !=''">
            ,release_scope = #{releaseScope}
        </if>
        <if test="itemDesc !=null and itemDesc !=''">
            ,item_desc = #{itemDesc}
        </if>
        <if test="addedDate !=null">
            ,added_date = #{addedDate}
        </if>
        <if test="expiredDate !=null">
            ,expired_date = #{expiredDate}
        </if>
        <if test="isValuation !=null and isValuation !=''">
            ,is_valuation = #{isValuation}
        </if>
        <if test="itemSourse !=null and itemSourse !=''">
            ,item_sourse = #{itemSourse}
        </if>
        <if test="partnerId !=null and partnerId !=''">
            ,partner_id = #{partnerId}
        </if>
        <if test="partnerName !=null and partnerName !=''">
            ,partner_name = #{partnerName}
        </if>
        <if test="shareType !=null and shareType !=''">
            ,share_type = #{shareType}
        </if>
        <if test="shareResult !=null and shareResult !=''">
            ,share_result = #{shareResult}
        </if>
        <if test="itemState !=null and itemState !=''">
            ,item_state = #{itemState}
        </if>
        <if test="updateTime !=null">
            ,update_time = #{updateTime}
        </if>
        <if test="updateUser !=null and updateUser !=''">
            ,update_user = #{updateUser}
        </if>
        WHERE
           id = #{id}
    </update>
    <update id="updateItemState">
        UPDATE pro_product_item
        SET
            <include refid="updateState"></include>
        <where>
            <foreach collection="ids" index="index" item="id" open=" id in (" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </update>
    <update id="updateItemStateByDate">
        UPDATE pro_product_item
        SET
            <include refid="updateState"></include>
        <where>
            <if test="item.addedDate != null">
                added_date <![CDATA[ <= ]]> #{item.addedDate},
            </if>
            <if test="item.expiredDate != null">
               and expired_date <![CDATA[ <= ]]> #{item.expiredDate}
            </if>
        </where>
    </update>

    <select id="selectItemAndValuation" resultType="java.util.Map">
        SELECT
            i.id id,
            i.prop_code propCode,
            i.prop_name propName,
            i.prop_dept propDept,
            i.cate_id cateId,
            i.prod_id prodId,
            i.release_scope releaseScope,
            v.promotion_price promotionPrice,
            v.standard_price standardPrice,
            v.currency,
            V.valuation_values valuationValues
        FROM
            pro_product_item i
                LEFT JOIN pro_valuation v ON i.id = v.prod_id
                AND v.type = '2' AND v.is_deleted = 0
        <where>
            i.is_deleted = 0
            <if test="item.propName != null">
                and i.prop_name like CONCAT(#{item.propName},'%' )
            </if>
            <if test="item.propCode != null">
                and i.prop_code like CONCAT(#{item.propCode},'%' )
            </if>
            <if test="item.releaseScope != null">
                and i.release_scope = #{item.releaseScope}
            </if>
            <if test="item.cateId != null">
                and i.cate_id = #{cateId}
            </if>
            <if test="item.prodId != null">
                and i.prod_id = #{item.prodId}
            </if>
            <if test="item.itemState != null">
                and i.item_state = #{item.itemState}
            </if>
            <if test="item.propDept != null">
                and i.prop_dept = #{item.propDept}
            </if>
            <if test="item.createStartTime != null and item.createEndTime">
                and i.create_time between #{item.createStartTime} AND #{item.createEndTime}
            </if>
            <if test="item.updateStartTime != null and item.updateEndTime">
                and i.update_time between #{item.updateStartTime} AND #{item.updateEndTime}
            </if>
        </where>
    </select>
</mapper>
