<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cnfic.contractmanage.product.mapper.ProfitRateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="profitRateResultMap" type="cn.com.cnfic.contractmanage.product.entity.ProfitRate">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="type" property="type"/>
        <result column="prod_id" property="prodId"/>
        <result column="begin_user_rcnt" property="beginUserRcnt"/>
        <result column="end_user_cnt" property="endUserCnt"/>
        <result column="profir_rate" property="profirRate"/>
    </resultMap>


    <select id="selectProfitRatePage" resultMap="profitRateResultMap">
        select * from pro_profit_rate where is_deleted = 0
    </select>

    <delete id="removeByProdId">
        DELETE FROM pro_profit_rate WHERE type = #{type}
        <foreach collection="ids" index="index" item="id"  open=" AND prod_id in (" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
