<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cnfic.contractmanage.product.mapper.PropertyValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="propertyValueResultMap" type="cn.com.cnfic.contractmanage.product.entity.PropertyValue">
        <id column="id" property="id"/>
        <result column="prop_id" property="propId"/>
        <result column="prop_code" property="propCode"/>
        <result column="prop_value" property="propValue"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>


    <select id="selectPropertyValuePage" resultMap="propertyValueResultMap">
        select id,prop_id,prop_code,prop_value,create_time,create_user,update_time, update_user
        from pro_property_value where is_deleted = 0
        ORDER BY update_time DESC
    </select>
    <select id="selectPropertyValueByPropId" resultMap="propertyValueResultMap">
        select id,prop_id,prop_code,prop_value,create_time,create_user,update_time, update_user
        from pro_property_value f  where f.is_deleted = 0 and f.prop_id = #{id}
        ORDER BY update_time DESC
    </select>
    <update id="updateIsDeleted">
        UPDATE pro_property_value SET is_deleted = #{deletedValue} WHERE id IN
        <foreach item="item" index="index" collection="propertyValueList"
                 open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

</mapper>
