<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.cnfic.contractmanage.contract.mapper.UserAgreementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userAgreementResultMap" type="cn.com.cnfic.contractmanage.contract.entity.UserAgreement">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="agreement_no" property="agreementNo"/>
        <result column="agreement_name" property="agreementName"/>
        <result column="agreement_type" property="agreementType"/>
        <result column="agreement_content" property="agreementContent"/>
        <result column="agreement_start_time" property="agreementStartTime"/>
        <result column="agreement_end_time" property="agreementEndTime"/>
        <result column="agreement_sign_time" property="agreementSignTime"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <resultMap id="userAgreementVOResultMap" type="cn.com.cnfic.contractmanage.contract.vo.UserAgreementVO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="agreement_no" property="agreementNo"/>
        <result column="agreement_name" property="agreementName"/>
        <result column="agreement_type" property="agreementType"/>
        <result column="agreement_content" property="agreementContent"/>
        <result column="agreement_start_time" property="agreementStartTime"/>
        <result column="agreement_end_time" property="agreementEndTime"/>
        <result column="agreement_sign_time" property="agreementSignTime"/>
        <collection property="protocolFile" ofType="cn.com.cnfic.contractmanage.contract.entity.UserAgreementFile"
                    column="id">
            <!-- 这里的column对应的是下面查询的别名，而不是表字段名 -->
            <id column="agreement_id" property="id"/>
            <!-- property对应JavaBean中的属性名 -->
            <result column="file_name" property="fileName"/>
        </collection>
    </resultMap>


    <select id="selectUserAgreementPage" parameterType="cn.com.cnfic.contractmanage.contract.dto.UserAgreementDTO" resultMap="userAgreementVOResultMap">
        SELECT
            t1.id,t1.agreement_no,t1.agreement_name,t1.agreement_type,t1.agreement_content,
            t1.agreement_start_time,t1.agreement_end_time,t1.agreement_sign_time,
            t1.amount,t1.contract_num,t1.create_time,t1.create_user,t1.is_deleted,
            t2.id,t2.file_name
        FROM
            con_user_agreement t1 LEFT JOIN con_user_agreement_file t2 ON t1.id = t2.agreement_id
        <where>
            t1.is_deleted = 0
            <if test="userAgreement.agreementName != null and userAgreement.agreementName != ''">
                AND t1.agreement_name like CONCAT('%',#{userAgreement.agreementName},'%' )
            </if>
            <if test="userAgreement.agreementType != null and userAgreement.agreementType != ''">
                AND t1.agreement_type = #{userAgreement.agreementType}
            </if>
            <if test='userAgreement.agreementState != null and userAgreement.agreementState == "1"'>
                <![CDATA[AND t1.agreement_end_time >= now() ]]>
            </if>
            <if test='userAgreement.agreementState != null and userAgreement.agreementState == "2"'>
                <![CDATA[AND (t1.agreement_end_time <= now() or t1.agreement_start_time >= now()  )]]>
            </if>

            <if test="userAgreement.agreementSignStartTime!=null">
                <![CDATA[   and t1.agreement_sign_time >=  #{userAgreement.agreementSignStartTime}   ]]>
            </if>
            <if test="userAgreement.agreementSignEndTime!=null">
                <![CDATA[   and t1.agreement_sign_time <=  #{userAgreement.agreementSignEndTime}   ]]>
            </if>
            <if test="userAgreement.createStartTime!=null">
                <![CDATA[   and t1.create_time >=  #{userAgreement.createStartTime}   ]]>
            </if>
            <if test="userAgreement.createEndTime!=null">
                <![CDATA[   and t1.create_time <=  #{userAgreement.createEndTime}   ]]>
            </if>
            <if test="userAgreement.agreementNo != null and userAgreement.agreementNo != ''">
                AND t1.agreement_no like CONCAT('%',#{userAgreement.agreementNo},'%' )
            </if>
        </where>
        order by t1.create_time desc
    </select>

</mapper>
